

.jumbotron { 
      margin-bottom: 15px;
      height: 220px;
      background-image:  url(panier.png);
      background-size: 20% ;
      background-repeat: no-repeat;
      background-position: 500px 3px;
      background-color:silver;

    }
      #Titre
    {color: white;

    }

     #trash
     {color: black;
      font-size: 150%;
      }
.hr{
  border-top: 1px dotted black;
}
   
   

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
.navbar-brand
{   background-image: url(PETIT_LogoEEBlanc.png);
    align-items: center;
}

    
/*-- Footer --*/
.page-footer {
 background-color: #222;
 color: #ccc;
 padding: 30px 0 10px;
}
.footer-copyright {
 color: #666;
 padding: 40px 0;
}

@media (max-width: 575.98px) {
 .description {
 left: 0;
 padding: 0 15px;
 position: absolute;
 top: 10%;
 transform: none;
 text-align: center;
 }

 .description h1 {
 font-size: 2em;
 }

 .description p {
 font-size: 1.2rem;
 }

 .features {
 margin: 0;
 }
}

#Logo
{
    margin-right:10px;
    margin-left:10px;
    width:42px;
height:53px;}

<<<<<<< Updated upstream
.dropdown-toggle, .B
{
    width:120px;
    height: 53px;
    text-align: center;
}

#QTT1
{width: 70px}

#prix1
{width: 70px;

}
#QTT2
{width: 70px}

#prix2
{width: 70px;

}
#QTT3
{width: 70px}

#prix3
{width: 70px;

}
#Nb
{

width: 50px
}

#total-immediat
{width: 150px;
 height:40px; 
 border-radius: 5px;
 border-color: black;}

 #total-moffre
{width: 150px;
 height:40px; 
 border-radius: 5px;
 border-color: black;}

 #total-enchere
{width: 150px;
 height:40px; 
 border-radius: 5px;
 border-color: black;}

 #descriptif
 {border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 10px;
  overflow: auto;


 }
=======
>>>>>>> Stashed changes
