.jumbotron { 
      margin-bottom: 10px;
      height: 220px;
      background-image:  url(panier.png);
      background-size: 15% ;
      background-repeat: no-repeat;
      background-position: 800px 20px;

    }
      #Titre
    {color: black;

    }
    #containeur
    {margin-right:20px; 
     margin-left: 20px;}

     #trash
     {color: black;
      font-size: 150%;
      }
   
  padding: 25px;
    }

   
/*-- Footer --*/
.page-footer {
 background-color: #222;
 color: #ccc;
 padding: 30px 0 10px;
}
.footer-copyright {
 color: #666;
 padding: 40px 0;
}

@media (max-width: 575.98px) {
 .description {
 left: 0;
 padding: 0 15px;
 position: absolute;
 top: 10%;
 transform: none;
 text-align: center;
 }

 .description h1 {
 font-size: 2em;
 }

 .description p {
 font-size: 1.2rem;
 }

 .features {
 margin: 0;
 }
}
#myCarousel
{
    height:600px;
}

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      max-height:600px;
  }
